body {
    background-color: bisque;
    font-family: Arial, sans-serif;
  }
  
  .passport-img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  .h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  h2 {
    margin-top: 2em;
    font-size: 1.8em;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
  }
  